@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 26vh;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header{
  display: flex;
  justify-content: space-between;
  padding-right: 32px;
}


.left-links{
  display: flex;
  gap: 16px;
}

.right-links{
  display: flex;
  gap:16px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.footer{
  display: flex;
  justify-content: space-between;
  border: none;
  background: #eee;
  margin: 16px;
  padding-right: 16px;
  padding-left: 0;
  padding-bottom: 0;
  

}

ul
{
  list-style: none;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: blueviolet;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
